    h1{
        font-size: 50px;

    }
    h3{
        font-size: 25px;
        text-align: center;
        
    }
    .header{    
        height: 180px;
        align-items: baseline;
        background-color: #000000;
        opacity: 1;
        color: #ffffff;    
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        margin: -10px;
    }
    .top{
        background-image:url("images/background.jfif" );
        font-size: 30px;
        text-align: center;
        height: 650px;
        background-repeat: no-repeat;
        margin: -50px;
        background-position: left;
        background-size: 3600px, 650px;
        display: grid;
        place-items: center;
    }

    a{
        color:#ffffff;
        text-decoration: none;   
    }
    body{
        background-color: #000000;
    }

    .instructions{
        font-size: 24px;
        background-color: #000000;
        text-align: center;
        color:#ffffff;
        height:80px;
        display:flex;
        align-items: center;
        justify-content:center;
        margin: -30px;
    }

    .origami1, .origami2{
        background-color: 	#B2ECEC;
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items:center;
        align-content: center;
        border: solid;
        border-color: #000000;
        margin:-30px;
        text-align: center;
    }


    .footer{ 
        background-color: black;
        border-color: black;
        height: 250px;
        margin:30px;
        display:flex;

        justify-content: space-evenly;
        align-items:center;
        align-content: center;
        margin-bottom: -20px;
        margin-left: -60px;
        margin-right:-60px;
        
        
    }

    a:link{
        color:white;
    }

    a:visited{
        color:aquamarine;
    }

    a:hover{
        background-color:lightblue;
    }

    img:hover{
        opacity:0.6;
        transform: scale(1.2)
    }